{% extends "TacticsTableBundle::column_cell_default.html.twig" %}

{% block cell_content %}
    {% for action,options in column.actions %}
        <a href="{{ path(options.route, get_hash(options.route_param, cell.value)) }}" title="{{ options.title }}" {{ render_attributes(options.attributes) }}>
            <i class="icon-{{ options.icon }}"></i>
        </a> 
        &nbsp;
    {% endfor %}
{% endblock %}
