{% spaceless %}
    <td{% if cell.attributes is defined %}{{ render_attributes(cell.attributes) }}{% endif %}>   
        {% block cell_content %}
            {% if cell.url|default(false) %}
                <a href="{{ cell.url }}">
            {% endif %}
                {% block cell_value %}{{ cell.value }}{% endblock %}
            {% if cell.url|default(false) %}
                </a>
            {% endif %}
        {% endblock %}
    </td>
{% endspaceless %}  