{% spaceless %}
    <td{% if cell.attributes is defined %}{{ render_attributes(cell.attributes) }}{% endif %}>   
        {% block cell_content %}
            {{ column.value(cell.value) }}
        {% endblock %}
    </td>
{% endspaceless %}
