{% extends "TacticsTableBundle::column_cell_default.html.twig" %}

{% block cell_content %}
    {% for action,options in column.actions %}
        <a href="{{ path(cell.actions[action].route_name, cell.actions[action].route_params) }}" title="{{ options.title }}" {{ render_attributes(options.attributes) }}>
            <i class="icon-{{ options.icon }}"></i>
        </a> 
        &nbsp;
    {% endfor %}
{% endblock %}
