{% extends "TacticsTableBundle::column_cell_default.html.twig" %}

{% block cell_content %}
    {% for action,options in column.actions %}
        {% set cell_options = cell.actions[action] %}

        <a href="{{ cell_options.disabled|default(false) ? '#' : path(cell_options.route_name, cell_options.route_params) }}" title="{{ cell_options.title|trans }}" {{ render_attributes(cell_options.attributes|default([])) }}>
            <i class="icon-{{ cell_options.icon }}"></i>
        </a> 
        &nbsp;
    {% endfor %}
{% endblock %}
