<div class="panel panel-default filter">
    <div class="panel-heading">
        <div class="panel-title">Filter</div>
    </div>
    <div class="panel-body">
        {{ form_start(form, {
            'action': action_path is defined ? path(action_path) : path,
            'method': 'post',
            'attr': {
                'data-target': 'results',
                'class': 'form-horizontal form-filter',
                'novalidate': 'novalidate'
            }
        }) }}
            <div class="row">
                {% for row in form %}
                    <div class="col-md-6">
                        {{ form_row(row) }}
                    </div>
                {% endfor %}
            </div>
            <input type="submit" class="btn btn-primary" value="Filter" />
            <input type="reset" class="btn" value="Reset" />
       {{ form_end(form) }}
    </div>
</div>
