<table class="table">
    <thead>
        <tr>
            {% for column in table.columns %}
                <th>
                    {{ column.displayname }} 
                </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for column in table.columns %}
        {% endfor %}
    </tbody>
</table>
