<table class="table">
    <thead>
        <tr>
            {% for column in table %}
                {{ header(column.header) }}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table.rows %}
            {% for column in table %}
                {{ cell(column, row[column.name])  }}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
