<table{{ render_attributes(table.attributes) }}>
    <thead>
        <tr>
            {% for column in table %}
                {{ render_header(column.header) }}
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% for row in table.rows %}
            {% for column in table %}
                {{ render_cell(column, row)  }}
            {% endfor %}
        {% endfor %}
        
    </tbody>
</table>
