<table{{ render_attributes(table.options.attributes|default([])) }}>
    <thead>
        <tr>
            {% for column in table %}
                {{ render_header(column.header) }}
            {% endfor %}
        </tr>
    </thead>
    <tbody>

        {% if table.rows|length %}
            {% for row in table.rows %}
                <tr>
                {% for column in table %}
                    {{ render_cell(column, row)  }}
                {% endfor %}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="{{ table|length }}">
                    {% trans %}No results{% endtrans %}
                </td>
            </tr>
        {% endif %}
         
        
    </tbody>
</table>
